<app-modal-header></app-modal-header>
<mat-tab-group class="mat-typography">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>input</mat-icon>
      Engress
    </ng-template>
    <app-egress />
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>local_shipping</mat-icon>
      <span>
        Entry
      </span>
    </ng-template>
    <app-entry/>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>qr_code</mat-icon>
      <span>
        QR
      </span>
    </ng-template>
    <app-qr />
  </mat-tab>
</mat-tab-group>
