$primary-color: #1f14dc;
$background-hover-table: #f2f1fe;

$hover-color-translucent: rgba($primary-color, 0.07);

$color-0: #1e14dc6c;
$color-50: #e4e3fb;
$color-100: #bcb9f5;
$color-200: #8f8aee;
$color-300: #625be7;
$color-400: #4137e1;
$color-600: #1b12d8;
$color-700: #170ed3;
$color-800: #120bce;
$color-900: #0a06c5;
$color-A100: #eeeeff;
$color-A200: #bcbbff;
$color-A400: #8988ff;
$color-A700: #706fff;


$border-radius-default: 25px;
