@use '@angular/material' as mat;
@use 'variables' as v;
@include mat.core();

$my-theme: (
  50 : v.$color-50,
  100 : v.$color-100,
  200 : v.$color-200,
  300 : v.$color-300,
  400 : v.$color-400,
  500 : v.$primary-color,
  600 : v.$color-600,
  700 : v.$color-700,
  800 : v.$color-800,
  900 : v.$color-900,
  A700 : v.$color-A700,
  A100 : v.$color-A100,
  A200 : v.$color-A200,
  A400 : v.$color-A400,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$my-primary: mat.define-palette($my-theme);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);
