<app-header />
<mat-drawer-container class="dasboard-container" [hasBackdrop]="true">
  <mat-drawer class="drawer" [disableClose]="true" mode="over" [opened]="store.isOpen()">
    <mat-list>
      @for (item of menuItems; track $index) {
        <app-sidebar-item [text]="item.text" [icon]="item.icon" [url]="item.url"/>
      }
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <section class="main">
      <div class="app-container">
        <router-outlet />
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
