<mat-form-field class="w-100">
  <mat-label>{{label()}}</mat-label>
  <input type="text" [placeholder]="placeholder()" aria-label="Number" matInput [formControl]="inputText"
    [matAutocomplete]="auto" (click)="inputClicked()">
    @if (inputText.value !== '') {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
        <mat-icon>close</mat-icon>
      </button>
    }
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayValueSelected.bind(this)">
    @for (option of filteredOptions | async; track option[idPropertyName()]) {
    <mat-option [value]=" option[idPropertyName()]" (onSelectionChange)="elementSelected( option[idPropertyName()])">
      @if(suffixPropertyName() !== '') {
      {{option[suffixPropertyName()]}} -
      }
      {{option[textPropertyName()]}}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>