<!-- <app-modal-header /> -->
<form class="search" [formGroup]="form" autocomplete="off">
    <app-debounce-time-search-field placeholder="Name or Supplier Part" formControlName="search" />
</form>
<mat-divider />
<mat-dialog-content class="products">
    @if(store.pagedProducts.data().length > 0) {
    <table mat-table [dataSource]="store.pagedProducts.data()" class="mat-elevation-z8">
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} - {{element.supplierPart}} </td>
        </ng-container>
        
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox [value]="row.id" #option color="primary" (click)="selectionChange(option, row)" [checked]="row.isSelected">
                </mat-checkbox>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    }
    @else {
        <app-no-data/>
    }
</mat-dialog-content>
<mat-divider />
<mat-paginator pageSize="10" (page)="handlePageEvent($event)" [pageSizeOptions]="[10, 25]"
    [length]="store.pagedProducts.metadata.totalCount()" aria-label="Select page of periodic elements">
</mat-paginator>
<mat-dialog-actions align="center">
    <button class="w-100" mat-raised-button color="primary" (click)="save()">
        Close
    </button>
</mat-dialog-actions>