<main>
  <h2 class="header">{{store.selectedProduct()?.name}}</h2>
  <form class="entry-form" autocomplete="off" [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput placeholder="Type the quantity" formControlName="quantity">
      @if(quantity.touched && quantity.invalid){
      <mat-error>{{errorQuantity()}}</mat-error>
      }
    </mat-form-field>

    <section class="resume">
      <header class="header">
        <h2>Review your entry</h2>
        <span>
          <mat-icon aria-hidden="false" aria-label="Add icon" fontIcon="add_shopping_cart"></mat-icon>
        </span>
      </header>

      <mat-divider />
      <section class="details">
        <div class="responsible">
          <h2><span class="mobile-text">Responsible</span>Agent</h2>
          <strong>{{store.agent.agentNumber()}} - </strong>
          <em>{{store.fullName()}}</em>
        </div>
        <div class="date">
          <h2>Entry date</h2>
          <em>
            {{now | date : 'fullDate'}}
          </em>
        </div>
      </section>

      <mat-divider />
      <section class="stock">
        <em><strong> Current stock:</strong> {{store.selectedProduct()?.stock}} pieces</em>
      </section>

      <mat-divider />
      <section class="resume">
        @if(!form.get('quantity')?.value){
        <strong>
          <em>
            No additional pieces will be added to this product
          </em>
        </strong>
        }
        @else {
        <em>
          <strong>
            {{store.selectedProduct() | entry: form.get('quantity')?.value! | number:'1.0-0' }}
          </strong>
          pieces will be be added to this product
        </em>
        }
      </section>
    </section>

  </form>
  <footer>
    <button [disabled]="!form.valid" mat-button (click)="accept()">Accept</button>
  </footer>
</main>
