@use 'utils' as u;
@use 'media-queries' as mq;

main {
  min-height: 60dvh;
  padding: 1% 24px;
  @include u.form-padding();

  h2 {
    &.header {
      text-align: center;
    }
  }

  form {
    p {
      margin-top: 2%;
    }


    .resume {
      em {
        font-size: larger;
      }

      .mobile-text {
        display: none;

        @include mq.md() {
          display: unset;
        }
      }

      .details,
      .resume,
      .stock {
        margin: 5% 0;

        @include mq.md() {
          margin: 3% 0;
        }

        @include mq.lg() {
          margin: 2% 0;
        }
      }

      .details {
        display: grid;
        grid-template-areas: 'responsible date';
        column-gap: 5%;

        .responsible {
          grid-area: responsible;
        }

        .date {
          grid-area: date;
        }
      }

      .header {
        display: flex;
        align-items: center;
        column-gap: 2%;
        margin: 1% 0;
      }
    }

  }
}

footer {
  display: flex;
  justify-content: flex-end;
}
