<section class="header">
  <button mat-mini-fab color="primary" aria-label="Add supply" (click)="addSupply()" matTooltip="Create a new Supply">
    <mat-icon>library_add</mat-icon>
  </button>
</section>
<main>
  @if (store.products.data().length > 0) {
  <div class="mat-elevation-z8 data">
    <table mat-table [dataSource]="store.products.data()">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="supplierPart">
        <th mat-header-cell *matHeaderCellDef> SupplierPart </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierPart}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="supplyClicked(element)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <!-- <button mat-menu-item disabled>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button> -->
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="store.products.metadata.totalCount()" (page)="handlePageEvent($event)" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  }
  @else {
  <app-no-data />
  }
</main>
