@use 'media-queries' as mq;
@use 'variables' as v;
@use 'utils' as u;

.inventory-container {
  .no-data {
    display: flex;
    justify-content: center;

    .content {
      mat-icon {
        font-size: 50px;
      }

      display: grid;
      justify-items: center;
    }
  }

  .inventory-options {
    @include mq.lg() {
      display: flex;
      column-gap: 20px;
    }

    .search-row {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}