@use 'media-queries' as mq;

::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

// min-width: 80dvh;

main.confirmation {
  padding-right: 36px;

  .completed {
    max-height: 45dvh;
    overflow-y: scroll;
    @include mq.md() {
      max-height:unset;
      overflow-y:unset;
    }


    .details {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;

      @include mq.md() {
        display: grid;
        grid-template-areas: 'petitioner approver' 'supply supply';
        column-gap: 5px;
        row-gap: 15px;
      }

      section h2,mat-divider {
        display: none;

        @include mq.sm() {
          display: block;
        }

      }

      section {
        .tittle-mobile {
          //font-weight: bold;
          @include mq.md() {
            display: none;
          }
        }

        .tittle-tablet-desktop {
          display: none;
          @include mq.md() {
            display: block;
          }
        }

      }

      .approver {
        @include mq.md() {
          grid-area: approver;
        }

      }

      .petitioner {
        order: 1;

        @include mq.md() {
          grid-area: petitioner;
        }
      }

      .supply {
        order: 2;

        @include mq.md() {
          grid-area: supply;
          .supply-info {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  section.incomplete {}


  section div {
    padding-top: 10px;
  }
}
