<mat-stepper orientation="vertical">
  <mat-step [stepControl]="petitionerForm" errorMessage="This field is required.">
    <form [formGroup]="petitionerForm" autocomplete="off">
      <ng-template matStepLabel>Petitioner's agent number</ng-template>
      <mat-form-field class="w-100">
        <mat-label>Agent number</mat-label>
        <input type="number" placeholder="Pick one" aria-label="Number" matInput formControlName="petitionerId"
          [matAutocomplete]="auto" required>
        @if (petitionerId.touched && petitionerId.invalid){
        <mat-error>{{errorPetitioner}}</mat-error>
        }
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayAgentNumber">
          @for (agent of filteredOptions | async; track agent.id) {
          <mat-option [value]="agent">
            {{agent.agentNumber}} | {{agent.name}} {{agent.lastName}}
          </mat-option>
          }

        </mat-autocomplete>
      </mat-form-field>
      <div class="footer-egress">
        <button mat-button (click)="nextToEgressForm()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="egressForm" errorMessage="Check this field.">
    <form [formGroup]="egressForm" autocomplete="off">
      <ng-template matStepLabel>How many items are?</ng-template>
      <mat-form-field class="w-100">
        <mat-label>Number</mat-label>
        <input matInput formControlName="quantity" placeholder="Item count" required type="number">
        @if (quantity.touched && quantity.invalid){
        <mat-error>{{errorEgress()}}</mat-error>
        }
      </mat-form-field>
      <div class="footer-egress">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="nextToFinal()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmation</ng-template>
    <main class="confirmation">
      @if(store.newAgressValid()){
      <div class="completed">
        <div class="details">
          <section class="supply">
            <h2>Supply</h2>
            <mat-divider />
            <div class="supply-info">
              <div>
                <p class="tittle-tablet-desktop"><em>Name</em></p>
                <p class="tittle-mobile"><em>Supply</em></p>
                <p class="text-bold"><em>{{store.inventoryItemSelected.name()}}</em></p>
              </div>
              <div>
                <p><em>Requested quantity </em></p>
                <p class="text-bold"><em>{{store.newEgress().amountRemoved}}</em></p>
              </div>

            </div>
          </section>

          <section class="petitioner">
            <h2>Petitioner</h2>
            <mat-divider />
            <p><em>Requester agent</em></p>
            <p class="text-bold"><em>{{store.petitionerSelected()}}</em></p>
          </section>

          <section class="approver">
            <h2>Approver</h2>
            <mat-divider />
            <p class="tittle-tablet-desktop"><em>Approver agent</em></p>
            <p class="tittle-mobile"><em>Signed in approver</em></p>
            <p class="text-bold"><em>
                {{warehouseStore.agent.agentNumber()}} - {{warehouseStore.fullName()}}
              </em></p>
          </section>


        </div>
      </div>
      }
      @else {
      <section class="incomplete">
        <h2 class="align-center">Please complete all steps </h2>
      </section>
      }
    </main>

    <div class="footer-egress">
      <button mat-button matStepperPrevious>Back</button>
      <button [class.cursor-not-allowed]="formsInvalid"
              mat-button
              [disabled]="!store.newAgressValid()"
              cdkFocusInitial
              [matTooltip]="tooltipFinal"
              [matTooltipDisabled]="!formsInvalid"
        (click)="completeEgress()">Accept</button>
    </div>
  </mat-step>
</mat-stepper>
