/* You can add global styles to this file, and also import other style files */
@use 'media-queries' as mq;
html,
body {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}
.button-100-w {
  width: 100%;
}
.w-100 {
  width: 100%;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.modal-lateral {
  animation: fadeInRight 0.5s ease-in-out;
  height: 100dvh;
  width: 100%;
  @include mq.lg() {
    width: 50%;
  }
  @include mq.xl() {
    width: 30%;
  }
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.pointer :hover {
  cursor: pointer !important;
}
.align-center{
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
