<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>group</mat-icon>
            Agentes
        </ng-template>
        <app-admin-agents />
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>verified_user</mat-icon>
            Permisos
        </ng-template>
        Content 1
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>block</mat-icon>
            Permisos
        </ng-template>
        Content 1
    </mat-tab>

    folder_limited
</mat-tab-group>